.fullscreen {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.btn {
  padding: 12px 26px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background: white;
}

.btn:hover {
  opacity: 0.8;
}

.btn.outline {
  background: transparent;
  border: 2px solid white;
  color: white;
}

.btn.outline:hover {
  background: white;
  color: black;
}
