/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ENSURE FULL HEIGHT */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* DEFAULT BODY */
body {
  font-family: Arial, sans-serif;
  background: #000; /* fallback */
}


.back-btn {
  width: 320px;
  padding: 14px;
  border-radius: 30px;
  justify-content: center;
  background: black;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
